@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #fff;
  background: #007bff;
}
body{
  padding: 10px;
  background-color: skyblue;
}

h1{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: red;
}

.wrapper{
  margin: 100px auto;
  max-width: 1100px;
}
.wrapper nav{
  display: flex;
  justify-content: center;
}
.wrapper .items{
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.items span{
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #007bff;
  border-radius: 50px;
  border: 2px solid #007bff;
  transition: all 0.3s ease;
}
.items span.active,
.items span:hover{
  color: red;
  background: #007bff;
}


.container{
    position: relative;
    min-height: 100vh;
 }
 
 .container .image-container{
     display: flex;
     flex-wrap: wrap;
     gap: 15px;
     justify-content: center;
     padding: 10px;
 }
 
 .container .image-container .image{
     height: 350px;
     width: 350px;
     border: 5px solid red;
     box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
     overflow: hidden;
     cursor: pointer;
 }
 
 .container .image-container .image img{
     height: 100%;
     width: 100%;
     object-fit: cover;
     transition: .2s linear;
 }
 
 .container .image-container .image:hover img{
         transform: scale(1.1); 
 }
 
 .container .popup-image{
     position: fixed;
     top: 0; left: 0;
     background: rgba(0, 0, 0, .9);
     height: 100%;
     width: 100%;
     z-index: 100;
     display: none;
 }
 
 .container .popup-image .pis{
     position: absolute;
     top: 0; right: 10px;
     font-size: 46px;
     font-weight: bolder;
     color: #eefbfb;
     cursor: pointer;
     z-index: 100;
 }
 
 .container .popup-image img{
     position: absolute;
     top: 50%; left: 50%;
     transform: translate(-50%, -50%);
     border: 5px solid goldenrod;
     border-radius: 10px;
     width: 750px;
     object-fit: cover;
 }
 
 @media (max-width:768px){
     container .popup-image img{
         width: 95%;
     }
 }

 
  .image-container .image.hide{
    display: none;
  }
  .image-container .image.show{
    animation: animate 0.4s ease;
  }